h1 {
    color: darkblue;
    display: flex;
    justify-content: center;
}


* {
box-sizing: border-box;
margin: 0;
padding-right: 0;
font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
background-color: rgb(0, 0, 0);
height: 80px;
display: flex;
justify-content: right;
align-items: center;
font-size: large;
position: sticky;
top: 0;
z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
.normal {
    color: green; 
}

.exceeded {
    color: red; 
}
.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}


.navbar__item {
        display: flex;
        justify-content:  center;
        align-items: center;
        padding: 0 1rem;
        width: 100%;
}

.navbar__links {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_btn {
    display: flex;
    justify-content:  center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

#navbar_logo {
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;
    padding: 20px 40px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    color: gold;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline:  none;
    border-radius: 4px;
    background: red;
    color: whitesmoke;
}

.exit_button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline:  none;
    border-radius: 4px;
    background: rgb(196, 1, 255);
    color: whitesmoke;
}

.upgrade-image {
    width: 20px;
    height: 20px;
}

.button:hover {
    background: rgb(207, 5, 5);
    transition: all 0.3 ease;
}

.navbar__links:hover {
    color: red;
    transition: all 0,3 ease;
}

select {
    display: inline-block;
    margin-top: -10px;
    margin-left: -10px;
    width: 100px;
    padding-left: 10px;
    font-size: large;
    border: 5px;
    border-radius: 2px;
    color: gold;
    background-color: black;
}

.nationSelect {
    display: inline-block;
    margin-top: -10px;

    font-weight: bold;
    font-size: large;
    color: gold;
    background-color: black;
}

.points-category {
    margin: 8px 0;
    padding: 4px;
    font-size: 14px;
    display: box;
    margin-left: 10px;
    border: 2px solid red;
    padding: 5px ; 
    margin: 5px; 
    display: inline-block;
}

#pointsLimitInput {
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
}

#setPointsLimitButton {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
}

#setPointsLimitButton:hover {
    background-color: #45a049;
}

table {
    width: 50%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.units-container {
    border: 3px solid red;
    padding-left: 1px;
    max-width: 33%;
}

.selectedUnits-container {
    border: 3px solid red;
    padding-left: 1px;
    max-width: 33%;
}

.unitsUpgrades-container{
    border: 3px solid red;
    padding-left: 1px;
    max-width: 33%;
}

.units-wrapper {
    display: flex; 
    justify-content: space-between; 
    gap: 0px; 
    align-items: flex-start; 
}

.units-container, .selectedUnits-container, .unitsUpgrades-container {
    flex: 1;
    max-width: 33%; 
}

table {
    width: 100%; 
    border-collapse: collapse; 
}

.increase-unit {
    margin: 5px;
    width: 45px;
}
.decrease-unit{
    margin: 5px;
    width: 45px;
}
.remove-unit {
    margin: 10px;
    width: 60px;
}
#available-units {
    width: 100%;
    border-collapse: collapse;
}

#available-units th,
#available-units td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

#available-units th {
    background-color: #f2f2f2;
}

@media screen and (max-width 960px) {
    .navbar__container {
        display: flex;
        gap: 0px ; 
       height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: large;
    }

#navbar_logo {
    padding-left: 25px;

}

.navbar_toggle .bar {
width: 25px;
height: 3px;
margin: 5px auto;
transition: all 0.3s ease-in-out;
background: white;
}

.navbar__item{
    width: 100%;
}

.navbar__links{
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
}

#mobile-menu{
    position: absolute;
    top: 20%;
    right: 5%;
    transition: translate(5%,20%);
}

.navbar_btn{
    padding-bottom: flex;
    justify-content: center;
}
.button {
display: flex;
justify-content: center;
align-items: center;
width: 80%;
height: 80%;
margin: 0;
}

.navbar_toggle .bar {
    display: block;
    cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}
#mobile-menu.is-active .bar:nth-child(1) {
transform: translate(-8px) rotate(-45deg);  
}

}




