<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warhammer Builder</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <nav class="navbar">
        <div class="navbar_container"></div>
        
        <a href="/" id="navbar_logo">Warhammer Builder</a>
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="/template.html" class="navbar__links">
                    Your Templates
                </a>
            </li>
            <li class="navbar__btn">
                <a href="/login.html" class="button">
                    Login
                </a>
                
            </li>
            <li class="navbar__item">
                <a href="/logout" class="exit_button">
                    Logout
                </a>
            </li>
        </ul>
    </nav>
    <script src="app.js"></script>
</body>
</html>