<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Warhammer Builder</title>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .list {
            margin: 10px;
            padding: 10px;
            border: 1px solid #e21a1a;
            width: 30%;
        }

        .quantity-control {
            display: flex;
            align-items: center;
        }

        .quantity-input {
            width: 50px;
            text-align: center;
            margin: 0 10px;
        }

        .quantity-button {
            padding: 5px 10px;
        }

        .army-composition {
            width: 100%;
            background-color: #ca5757;
            border-top: 1px solid #ca6d6d;
            padding: 10px;
            box-sizing: border-box;
            margin-top: 20px;
        }

        .header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            background-color: #e21a1a;
            color: white;
        }

        .login-buttons {
            display: flex;
            gap: 10px;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .login-buttons button {
            padding: 5px 10px;
            background-color: white;
            color: #e21a1a;
            border: none;
            cursor: pointer;
            font-weight: bold;
        }

        .login-buttons button:hover {
            background-color: #ca5757;
        }

        .units-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .units-container .list {
            margin: 10px;
        }

        .total-points {
            margin-top: 20px;
            text-align: center;
        }

        .points-limits-by-type {
            margin-top: 10px;
        }

        .selected-icon {
            width: 15px;
            height: auto;
        }

        .nation-selector {
            margin-left: 20px;
        }
        .common-button {
            padding: 5px 10px;
            background-color: white;
            color: #e21a1a;
            border: none;
            cursor: pointer;
            font-weight: bold;
        }
        .nation-selector label {
            margin-right: 10px;
        }

        .nation-selector select {
            padding: 5px;
            font-size: 16px;
        }
    </style>

</head>
<body>

<h1>Warhammer Builder</h1>
<div class="nation-selector">
    <div class="login-buttons">

        <form action="#" th:action="@{/logout}" method="POST" style="display:inline;">
            <input type="submit" value="Log Out" class="common-button"/>
        </form>
        <button class="common-button" onclick="window.location.href='/template'">Check Your Templates</button>

    </div>

    </div>
    <label for="nationSelect">Select Nation:</label>
    <select id="nationSelect" name="nation">
        <option value="All">All</option>
        <option value="Beastmen">Beastmen</option>
        <option value="Bretonnia">Bretonnia</option>
        <option value="Chaos Dwarfs">Chaos Dwarfs</option>
        <option value="Daemons of Chaos">Daemons of Chaos</option>
        <option value="Dark Elves">Dark Elves</option>
        <option value="Dwarfs">Dwarfs</option>
        <option value="Empire">Empire</option>
        <option value="High Elves">High Elves</option>
        <option value="Kislev">Kislev</option>
        <option value="Lizardmen">Lizardmen</option>
        <option value="Ogre Kingdoms">Ogre Kingdoms</option>
        <option value="Orcs and Goblins">Orcs and Goblins</option>
        <option value="Skaven">Skaven</option>
        <option value="Tomb Kings">Tomb Kings</option>
        <option value="Vampire Counts">Vampire Counts</option>
        <option value="Warriors of Chaos">Warriors of Chaos</option>
        <option value="Wood Elves">Wood Elves</option>


    </select>
</div>
<div style="border: 1px solid red;">
    <div class="container">
        <div class="units-container">
            <!-- Sekcja dostępnych jednostek -->
            <div class="list">
                <h2>Available Units</h2>
                <!-- Sekcja jednostek Lord -->
                <h3>Lord</h3>
                <ul>
                    <li th:each="unit : ${availableUnits}" th:data-nation="${unit.nation}"
                        th:if="${unit.unitType == 'Lords'}">
                        <span th:text="${unit.name}">Unit Name</span>
                        <form th:action="@{/addUnit}" method="post" style="display:inline;">
                            <input type="hidden" name="unitId" th:value="${unit.id}"/>
                            <button type="submit">Add</button>
                        </form>
                    </li>
                </ul>
                <!-- Sekcja jednostek Hero -->
                <h3>Hero</h3>
                <ul>
                    <li th:each="unit : ${availableUnits}" th:data-nation="${unit.nation}"
                        th:if="${unit.unitType == 'Hero'}">
                        <span th:text="${unit.name}">Unit Name</span>
                        <form th:action="@{/addUnit}" method="post" style="display:inline;">
                            <input type="hidden" name="unitId" th:value="${unit.id}"/>
                            <button type="submit">Add</button>
                        </form>
                    </li>
                </ul>
                <!-- Sekcja jednostek Core -->
                <h3>Core</h3>
                <ul>
                    <li th:each="unit : ${availableUnits}" th:data-nation="${unit.nation}"
                        th:if="${unit.unitType == 'Core'}">
                        <span th:text="${unit.name}">Unit Name</span>
                        <form th:action="@{/addUnit}" method="post" style="display:inline;">
                            <input type="hidden" name="unitId" th:value="${unit.id}"/>
                            <button type="submit">Add</button>
                        </form>
                    </li>
                </ul>
                <!-- Sekcja jednostek Special -->
                <h3>Special</h3>
                <ul>
                    <li th:each="unit : ${availableUnits}" th:data-nation="${unit.nation}"
                        th:if="${unit.unitType == 'Special'}">
                        <span th:text="${unit.name}">Unit Name</span>
                        <form th:action="@{/addUnit}" method="post" style="display:inline;">
                            <input type="hidden" name="unitId" th:value="${unit.id}"/>
                            <button type="submit">Add</button>
                        </form>
                    </li>
                </ul>
                <!-- Sekcja jednostek Rare -->
                <h3>Rare</h3>
                <ul>
                    <li th:each="unit : ${availableUnits}" th:data-nation="${unit.nation}"
                        th:if="${unit.unitType == 'Rare'}">
                        <span th:text="${unit.name}">Unit Name</span>
                        <form th:action="@{/addUnit}" method="post" style="display:inline;">
                            <input type="hidden" name="unitId" th:value="${unit.id}"/>
                            <button type="submit">Add</button>
                        </form>
                    </li>
                </ul>
            </div>

            <!-- Sekcja wybranych jednostek -->
            <div class="list">
                <h2>Selected Units</h2>
                <ul>
                    <li th:each="unit, unitIndex : ${selectedUnits}">
                        <span th:text="${unit.name}">Unit Name</span>
                        <form th:action="@{/removeUnit}" method="post" style="display:inline;">
                            <input type="hidden" name="id" th:value="${unit.id}"/>
                            <button type="submit" th:id="'removeUnitBtn_' + ${unitIndex.index}">Remove</button>
                        </form>
                        <button class="select-upgrades"
                                th:data-id="${unit.id}"
                                th:id="'selectUpgradesBtn_' + ${unitIndex.index}">Select Upgrades
                        </button>
                        <div class="quantity-control"
                             th:unless="${unit.unitType == 'Lords' or unit.unitType == 'Hero' or unit.unitType == 'Rare'}">
                            <!-- Formularz zmniejszenia ilości -->
                            <form th:action="@{/decreaseUnitQuantity}" method="post" style="display: inline;">
                                <input type="hidden" name="id" th:value="${unit.id}"/>
                                <button type="submit" th:id="'decreaseQuantityBtn_' + ${unitIndex.index}">-</button>
                            </form>
                            <!-- Wyświetl bieżącą ilość -->
                            <span>
                                <input type="number" class="quantity-input" name="quantity" th:value="${unit.quantity}"
                                       min="0" disabled/>
                            </span>
                            <!-- Formularz zwiększenia ilości -->
                            <form th:action="@{/increaseUnitQuantity}" method="post" style="display: inline;">
                                <input type="hidden" name="id" th:value="${unit.id}"/>
                                <button type="submit" th:id="'increaseQuantityBtn_' + ${unitIndex.index}">+</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Sekcja dostępnych ulepszeń -->
            <div class="list">
                <h2>Upgrades</h2>
                <div id="upgrades-list"></div>
                <ul>
                    <li th:each="upgrade : ${upgrades}">
                        <div class="upgrade-item">
                            <span th:text="${upgrade.name}">Upgrade Name</span>
                            <div class="button-container">
                                <button class="select-upgrade-button" th:data-upgrade-id="${upgrade.id}">Select</button>
                                <button class="remove-upgrade-button" th:data-upgrade-id="${upgrade.id}"
                                        style="display:none;">Remove
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div> <!-- units-container -->

        <!-- Sekcja składu armii -->
        <div class="army-composition">
            <h2>Army Composition</h2>
            <div th:if="${armyCompositions != null}">
                <!-- Liczba Lordów -->
                <p>Lords: <span id="total-lords" th:text="${armyComposition.totalLords}"></span></p>
                <!-- Liczba Bohaterów -->
                <p>Heroes: <span id="total-heroes" th:text="${armyComposition.totalHeroes}"></span></p>
                <!-- Liczba Core -->
                <p>Core: <span id="total-core" th:text="${armyComposition.totalCore}"></span></p>
                <!-- Liczba Special -->
                <p>Special: <span id="total-special" th:text="${armyComposition.totalSpecial}"></span></p>
                <!-- Liczba Rare -->
                <p>Rare: <span id="total-rare" th:text="${armyComposition.totalRare}"></span></p>
            </div>
        </div>

        <div class="total-points">
            <h3>
                <span th:text="'Total Points: ' + (${totalPoints} + ' / ' + ${pointsRestriction > 0 ? pointsRestriction : '0.0'})"></span>
            </h3>
            <!-- Sekcja ustawienia limitu punktów -->
            <div class="points-form">
                <h3>Set Points Restriction</h3>
                <form th:action="@{/setPointsRestriction}" method="post">
                    <input type="number" id="points" name="points" min="0" required/>
                    <button type="submit">Set Points</button>
                </form>
            </div>
            <!-- Sekcja tworzenia nowego szablonu -->
            <h2>Create a New Army Template</h2>
            <form th:action="@{/saveTemplate}" method="post">
                <label for="templateName">Template Name:</label>
                <input type="text" id="templateName" name="templateName" required/>
                <button type="submit" class="common-button">Save</button>
            </form>
            <!-- Sekcja wyświetlania punktów dla każdego typu jednostki -->
            <div class="points-limits-by-type">
                <h3>Points Limits by Unit Type</h3>
                <ul>
                    <li>Lords: <span th:if="${utilizedPointsByType != null}"
                                     th:text="${utilizedPointsByType['Lords']} + ' / ' + ${pointsLimitsByType['Lords']}"></span>
                    </li>
                    <li>Hero: <span th:if="${utilizedPointsByType != null}"
                                    th:text="${utilizedPointsByType['Hero']} + ' / ' + ${pointsLimitsByType['Hero']}"></span>
                    </li>
                    <li>Core: <span th:if="${utilizedPointsByType != null}"
                                    th:text="${utilizedPointsByType['Core']} + ' / ' + ${pointsLimitsByType['Core']}"></span>
                    </li>
                    <li>Special: <span th:if="${utilizedPointsByType != null}"
                                       th:text="${utilizedPointsByType['Special']} + ' / ' + ${pointsLimitsByType['Special']}"></span>
                    </li>
                    <li>Rare: <span th:if="${utilizedPointsByType != null}"
                                    th:text="${utilizedPointsByType['Rare']} + ' / ' + ${pointsLimitsByType['Rare']}"></span>
                    </li>
                </ul>
            </div>
        </div>

    </div> <!-- container -->
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#save-roster-button').on('click', function () {
            $.ajax({
                type: 'POST',
                url: '/saveRoaster',
                success: function (response) {
                    alert(response);
                },
                error: function (xhr, status, error) {
                    alert("Error saving army composition: " + xhr.responseText);
                }
            });
        });

        $('#load-roster-button').on('click', function () {
            let rosterId = $('#roster-id-input').val();

            if (rosterId) {
                $.ajax({
                    type: 'GET',
                    url: '/loadRoaster?armyId=' + rosterId,
                    success: function (response) {
                        alert(response);
                    },
                    error: function (xhr, status, error) {
                        alert("Error loading army composition: " + xhr.responseText);
                    }
                });
            } else {
                alert('Please enter a Roster ID.');
            }
        });

        // Funkcja do filtrowania jednostek na podstawie wybranej nacji
        function filterUnitsByNation(nation) {
            $('.list ul li').each(function () {
                var unitNation = $(this).data('nation');
                if (unitNation === nation || nation === 'All') {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }

        // Początkowo pokazuj wszystkie jednostki
        filterUnitsByNation('All');

        // Obsługuje zdarzenie zmiany na selektorze nacji
        $('#nationSelect').on('change', function () {
            let selectedNation = $(this).val();
            filterUnitsByNation(selectedNation);
        });

        $('.select-upgrades').on('click', function () {
            let unitId = $(this).data('id');
            $.ajax({
                type: 'GET',
                url: '/units/' + unitId + '/upgrades',
                success: function (data) {
                    $('#upgrades-list').empty();
                    data.forEach(function (upgrade) {
                        let listItem = $('<li>').text(upgrade.name + ' (+' + upgrade.pointsCost + ' pts)');
                        let selectButton = $('<button>')
                            .text('Add')
                            .addClass('select-upgrade-button')
                            .data('upgrade-id', upgrade.id)
                            .data('unit-id', unitId)
                            .click(function () {
                                let upgradeId = $(this).data('upgrade-id');
                                $.ajax({
                                    type: 'POST',
                                    url: '/addUpgrade',
                                    data: $.param({ upgradeId: upgradeId }),
                                    success: function () {
                                        listItem.prepend('<img src="/selectedUpgrade.png" alt="selected" class="selected-icon" />');
                                        selectButton.hide();
                                        removeButton.show();
                                    },
                                    error: function (xhr, status, error) {
                                        console.error("XHR Error:", xhr);
                                        console.error("Status:", status);
                                        console.error("Error:", error);
                                        alert('Error adding upgrade: ' + xhr.responseText);
                                    }
                                });
                            });

                        // Dodanie przycisku usuwania ulepszenia
                        var removeButton = $('<button>')
                            .text('Remove')
                            .addClass('remove-upgrade-button')
                            .data('upgrade-id', upgrade.id)
                            .click(function () {
                                var upgradeId = $(this).data('upgrade-id');
                                $.ajax({
                                    type: 'POST',
                                    url: '/removeSelectedUpgrade',
                                    data: $.param({ upgradeId: upgradeId }),
                                    success: function () {
                                        listItem.find('img.selected-icon').remove();
                                        selectButton.show();
                                        removeButton.hide();
                                    },
                                    error: function () {
                                        alert('Error removing upgrade.');
                                    }
                                });
                            });

                        // Jeżeli ulepszenie jest już wybrane, pokaż ikonę i ukryj przycisk 'Add'
                        if (upgrade.selected) {
                            listItem.prepend('<img src="/selectedUpgrade.png" alt="selected" class="selected-icon" />');
                            selectButton.hide();
                            removeButton.show();
                        } else {
                            removeButton.hide();
                        }

                        listItem.append(selectButton).append(removeButton);
                        $('#upgrades-list').append(listItem);
                    });
                },
                error: function () {
                    alert('Error fetching upgrades.');
                }
            });
        });
    });

</script>
</body>
</html>